.dashboard-container {
  padding: 3% 2.5% 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  width: 100%;
}

.side-menu-container {
  align-self: start;
  background-color: white;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1;
}

app-top-menu {
  //position: fixed;
  //top: 0;
  width: 100%;
  z-index: 2;
}


.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(10px);
}
